body,.page, .page-group {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    font-size: 20px;
    background: #fcfcfc;
}
.content-padded {
    margin-top: 13rem;
    border-top: 1px solid #ddd;
}
.page-group.page-current,.page.page-current {
    overflow-y: auto;
}
.item-after::after{
	content:none; 
}
.bar .icon{
    color: #000;
}
.redbag .barBg{
	width: 100%;
	height: 5.3rem;
	position: relative;
	background-image: linear-gradient(45deg, #ffae00 0%, #ff2b49 100%), 
	linear-gradient(#f8b62b, #f8b62b);
	background-blend-mode: normal, normal;
}
.redbag .title{
	color: #000;
}
.redContent{
	background: #fff;
}
.redBox{
	position: absolute;
	top: 2.3rem;
	height: 15.1rem;
	width: 94%;
	background-color: #f7f6f6;
	z-index: 10;
	border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.redBox .list-block{
	margin: 0;
}
::-webkit-input-placeholder{
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #999999;
}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #999999;
}                  /* Firefox版本4-18 */
::-moz-placeholder{
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #999999;
}                  /* Firefox版本19+ */
:-ms-input-placeholder{
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #999999;
}       

.item-content .redInput.item-after{
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #999999;
	width: 7rem;
	text-align: right;
}
.redBox .item-title{
	font-size: 0.7rem;
}
.redBox .item-after{
	font-size: 0.7rem;
	color: #999999;
	line-height: 1.4rem;
}
.liPad{
	color: #999999;
	font-size: 0.5rem;
}
.redBox .list-block ul {
	border-radius: 0.4rem;
}
.redBox .item-content{
	height: 2.5rem;
	background-color: #ffffff;
	box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(153, 153, 153, 0.1);
	border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.redBox .item-inner{
    height: 2.5rem;
}
.pos.item-after {
	color: #000;
}
.liPad{
	height: 1.7rem;
	padding: 0 0.7rem;
	color: #999999;
	line-height: 1.7rem;
	background-color: #f7f6f6;
}
.item-inner .item-after.redBigInput{
	font-size: 0.7rem;
	color: #999999;
	line-height: 1.4rem;
	width: 9rem;
	text-align: right;
}
.item-content:last-child{
	border-radius: 0 0  0.4rem 0.4rem;
}
.showMoney{
	font-family: MicrosoftYaHei;
	font-size: 1.8rem;
	letter-spacing: 0rem;
	color: #000000;
	height: 4.5rem;
}
.giveMoney{
	width: 100%;
	height: 2.5rem;
	background-color: #999999;
	box-shadow: 0rem 0.1rem 0.8rem 0rem rgba(153, 153, 153, 0.2);
	border-radius: 0.4rem;
	font-size: 0.9rem;
    color: #ffffff;
    border: none;
    margin-bottom: 2rem; 
}
.giveMoney.redBg{
	background-color: #ff4444;
}
.radioBox{
	padding-top: 0.5rem;
	align-content: flex-start;
}
.radioOne{
	font-size: 0.7rem;
    color: #000000;
    height: 1.6rem;
    background-color: #fcb7b7;
    border-radius: 0.3rem;
    margin-right: .8rem;
    text-align: center;
    line-height: 1.6rem;
    padding: 0 1rem;
   margin-bottom: 0.5rem;
}
.radioOne.checked{
	background: #fe413d;
}
.flexWrap{
	flex-wrap: wrap;
}
.redbagGet .barBgImg{
	width: 100%;
	height: 5.5rem;
	position: absolute;
	right: 0;
	left: 0;
	top:0;
	background-image: linear-gradient(0deg, 
		#e7140d 0%, 
		#f0532e 100%), 
	linear-gradient(
		#f0532e, 
		#f0532e);
}
.redbagGet .title{
	position: absolute;
    z-index: 10;
    color: #000;
}
.redbagGet .boomBox{
	position: absolute;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 4rem;
}
.boomImg{
	width: 4rem;
	height: auto;
}
.redbagGet .money {
    font-family: MicrosoftYaHei;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #888;
}
.moneyPos{
	font-size: 1.2rem;
    padding-top: 0.4rem;
}
.redbagGet .page, .page-group.redbagGet {
    background: #fff;
}
.redbagGet .list-block{
	width:100%; 
}
.redbagGet .content-block-title{
	margin: 0.6rem 0  0.1rem 0.8rem;
	width: 100%;
}
.redbagGet .item-media,.redbagGet .list-block.media-list .item-inner,.redbagGet .list-block.media-list .item-media{
	padding: 0;
}
.redbagGet .item-inner{
	padding: 0 0.5rem;
}
.item-title-row {
	height: 100%;
}
.redbagGet .item-media img{
    width: 2.1rem;
    margin: 0.4rem 0;
    height: 2.1rem;
}
.moneyShow{
	font-family: MicrosoftYaHei;
	font-size: 0.6rem;
	color: #999999;
}
.winImg{
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;
	border: 1px solid #000;
}
.whomoney {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #000;
}
.money{
	color: #888;
	font-size: 0.5rem;

}